*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white
}
ul{
    list-style: none;
}

body{
    width: 100vw;
    overflow: hidden;
}

section{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
}
section > div.right{
    width: 50%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
}
section > div.right > div.information{
    width: 88%;
    height: 5%;
    /* background-color: red; */
    display: flex;
}
section > div.right > div.information > h3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    font-size: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
section > div.right > div.information > h3::before{
    content: '';
    width: 200px;
    height: 1px;
    background-color: white;
    margin-top: 25px;
    margin-left: 10px;
}
section > div.right > div.information > h3::after{
    content: '';
    width: 200px;
    height: 1px;
    background-color: white;
    margin-top: 25px;
    margin-right: 10px;
}
section > div.right > div.input1 > label > input{
    width: 410px;
    height: 52px;
    background-color: rgb(26, 26, 26);
    border: 2px solid rgb(87, 87, 87);
    font-size: 24px;
    font-weight: 500;
    /* color: gainsboro; */
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

section > div.right > button >  div.input2{
    width: 410px;
    height: 52px;
    background-color: rgb(255, 145, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: gainsboro;
    line-height: 52px;
    transition: all 1.2s;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section > div.right > button > div.input2:hover{
    background-color: rgb(151, 86, 0);
}
section > div.right > div.or > h3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    font-size: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
section > div.right > div.or > h3::before{
    content: '';
    width: 188px;
    height: 1px;
    background-color: rgb(139, 139, 139);
    margin-top: 20px;
    margin-left: 10px;
}
section > div.right > div.or > h3::after{
    content: '';
    width: 188px;
    height: 1px;
    background-color: rgb(139, 139, 139);
    margin-top: 20px;
    margin-right: 10px;
}
section > div.right > button >  div.input3 {
    width: 410px;
    height: 52px;
    background-color: rgb(59, 59, 59);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: gainsboro;
    line-height: 52px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section > div.right > button{
    border: none;
}

section > div.left{
    width: 50%;
    height: 100%;
}
section > div.left > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 850px){
    section > div.left{
        width: 0px;
        height: 0px;
    }
    section > div.right{
        width: 100%;
        height: 100%;
    }
}